.project-description{
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	background-color: black;
	color: white;
}


.project-title-show{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 2.0em;
}

.project-title-show h1 {
	color: white !important;
}

.project-questions {
	float: left;
	position: relative;
	padding: 30px;
	text-align: left;
	color: white;
	background-color: black;
}

.project-github-images {
	float: right;
	position: relative;
	padding: 10px;
	background-color: white;
	width: 40%;
	height: 348px;
}

.project-image-holder {
	margin-top: 2%;
	width: 1024px;
	height: 768px;
	overflow: hidden;
}

.project-image-holder img {
	width: 100%;
	height: 100%;
}


.red {
	background-color: #E54739 ;
}