<form class="createprojects" action="/projects" method="post">
	All fields are required.<br>
	<label>Name:</label>
	<input type="text" name="project[name]"/><br>
	<label>Description:</label>
	<input type="text" name="project[description]"/><br>
	<label>Production Url:</label>
	<input type="text" name="project[production_url]"/><br>
	<label>Source Url:</label>
	<input type="text" name="project[source_url]"/><br>
	<!-- DROP DOWN MENU -->
	<label>Location:</label>
	<input type="text" name="project[location]"/><br>
	<label>Image Url:</label>
	<input type="text" name="project[image_url]"/><br>
	<input type="submit"/>
</form>
