
<div class="form-container">
	<img class="example-project-image" style="width: 90%" src="http://imgur.com/9FVKO3w.jpg"/>
	<form class="dbc-form stacked" action="/projects" method="post" enctype="multipart/form-data">
			All fields are required.<br>
			<label>Project Title:</label>
			<input type="text" name="project[name]"required/>
			<label>Description:</label>
			<input type=textarea name="project[description]"></textarea required/>
		<label>Website: (http://www.example.com) </label>
			<input type="url" name="project[production_url]" required/>
			<label>Github: (https://www.github.com) </label>
			<input type="url" name="project[source_url]" required/>
			<label>Location:</label>
			<select name="project[location">
	      <option></option>
	      <option>San Francisco</option>
	      <option>Chicago</option>
	      <option>New York</option>
	   </select>

			<label>Image Url:	(.png/.jpg is required)</label>
			<input type="text" name="project[image_url]" required/>
			<label>What technologies did your team use?</label>
			<input type="text" name="project[answer1]"/>
			<label>What was your biggest technical challenge?</label>
			<input type="text" name="project[answer2]"/>
			<label>If you could do it over again, what would you change?</label>
			<input type="text" name="project[answer3]"/>
			<label>What advice do you have for people about to begin their final projects? </label>
			<input type="text" name="project[answer4]"/>
	    <button type="submit" class="dbc-button dbc-button-primary">Submit</button>
	</form>
</div>

