
<form class="createprojects" action="/projects" method="post">
	<div class="input-fields">
		All fields are required.<br>
		<label>Name:</label>
		<input type="text" name="project[name]"/><br>
		<label>Description:</label>
		<input type="text" name="project[description]"/><br>
		<label>Website:</label>
		<input type="text" name="project[production_url]"/><br>
		<label>Github:</label>
		<input type="text" name="project[source_url]"/><br>
		<!-- DROP DOWN MENU -->
		<label>Location:</label>
		<input type="text" name="project[location]"/><br>
		<label>Image Url:</label>
		<input type="text" name="project[image_url]"/><br>
		<input type="submit"/>
	</div>
</form>
